@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.radix-themes {
  --default-font-family: var(--font-kanit), sans-serif;

  --lime-9: #14db60;
  --lime-10: #c0e000;

  /* .rt-BaseButton */
  .rt-BaseButton {
    @apply text-xl font-bold leading-7 text-slate-900;
  }
}
